.sidenav {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5fa549;
  overflow-x: hidden;
  border-right: 1px solid #5fa5494a;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: #457b34
}

.r-0 {
  border-radius: 0;
  background-color: #f3f3f4;
  border-bottom: 1px solid #5fa54926;
}

.btn-primary {
  background-color: #2cab04 !important
}

.main {
  height: 100%;
  overflow: hidden;
  margin-left: 220px;
  background-color: #f3f3f4;
}

.content {
  padding: 20px 20px;
  margin: 15px;
  background-color: #fff;
  border-top: 1px solid #5fa5494a;
}

.breadcrumb {
  padding: 12px 16px;
  background-color: #fff;
  border-bottom: 1px solid #5fa54926;
}